h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.center-list {
    text-align: center;
    list-style-type: none;
    font-size: 24px;
}

li {
    font-size: 16px;
}